

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,100;1,700&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500;1,900&family=Ubuntu:ital,wght@0,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
}

body {
font-family: 'Roboto', sans-serif;

}



.nav-bar {
    background-color: #6184ed;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
  
}

.nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
}

.nav-bar a {
    color: #ffff00;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    background-image: url(../images/yuriy-k.jpg);
    background-size: cover;
    color: #f8f813;
    min-height: 20vh;
    padding-left: 100px;   
}

.main-txt {
    font-size: 3rem;
    text-emphasis-style: bold;
    width: 70%;
}

.main-img {
    width: auto;
    text-align: center;
    margin: auto;
}

.main-img img {
    width: 250px;  
    height: 325px; 
}

.btn a {
    background-color: #ffff00;
    text-align: right;
    text-decoration: none;
    width: 30%;
    border: solid 2px ;
    border-color: #1790fa;
    border-radius: 5px; 
    margin-left: 150px;
    padding: 2px 10px;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}

.btn {
    padding: 5px;
    margin: 10px;
}

#exp {
    margin-top: 35px;
}

#exp h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;
}

table {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    border-collapse: collapse;
}

table, th, td {
     border: 3px solid #6184ed; 
}

tbody, tr,td {
    padding-left: 10px;
}
 tbody, ul {
    margin: 0;
    padding-left: 15px;

 }

.head-row {
    background-color: #6184ed;
    color:#f8f813;
    text-align: center;
    block-size: 40px;
}
 .head-row td {
    font-weight: 600;
 }

#contact-block {
    background-image: url(../images/yuriy-k.jpg);
    background-size: cover;
    color: #3700ff;
    margin: 0 20px;
}

#contact-block h1 {
   text-align: center;
   text-transform: uppercase;
   margin-top: 100px;
   padding-top: 30px;
}

.contact-form {
    display: flex;
    margin-left: 100px;
}

.form-item {
    margin-left: 200px;
}

.form-item input {
    block-size: 26px;
}

.form-item label {
    font-weight: 600;
}

.form-item input,
.form-item textarea {
    width: 150%;
    border: 3px solid #fefe71;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
}

::placeholder {
    font-size: 15px;
    font-style: italic;
}

.contact-form button {
   background-color: #ffdd00;
   color:#3700ff;
   border: 0;
   border-radius: 5px;
   width: 50%;
   padding: 10px;
   margin-left: 50%;
   font-size: 15px;
   font-weight: 600;
}

footer {
    text-align: center;
    margin: 50px 0 15px;
}
footer div {
   max-width: auto;
   max-height: 100%;
}

footer img {
    margin: 15px;
    width: 10%;
    height: 10%;
    margin-bottom: 40px;
}

footer p {
    font-size: 20px;
}

